/*
p.error{
    color:red;
}

p.success{
    color: rgb(34, 150, 34);
}
p.success.feedback{
    border: 1px dashed  rgb(34, 150, 34) ;
}
    
div#content{
    
    background-color: #ebebeb;
    padding: 20px;
}
*/
/*Parents selector with space*/
/*
Diferentes que el siguiente
div.error{
    color:red;
}
*/
/* div .error{
    color:red;
}

a[href*="google"]{
    background-color: rgb(34, 150, 34);
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href$=".com"]{
    background-color:red;
    color: white;
    border: 2px solid blue;
} */

div{
    color:lightcoral;
    border: 1px solid gray;
    margin: 20px;
    font-weight: bold;
}
div p{
    border: inherit;
    margin: inherit;
    color: crimson;
}

p{
    color: blue;
}

/*La prioridad va de abajo hacia arriba*/
/*La especificidad también tiene mayor presidencia*/